fastapi
uvicorn[standard]
pydantic
pydantic-settings
sqlalchemy[asyncio]
aiomysql
python-multipart
python-jose[cryptography]
bcrypt==4.0.1
httpx
reportlab
apscheduler
openai-whisper
transformers
torch
pandas
scikit-learn
librosa
scipy
aiosqlite
python-dotenv
